/* Global Styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

h1 {
    color: white;
}

h2, h3 {
    color: #333;
}

/* Header Styles */
header {
    background-color: #333;
    color: #fff;
    padding: 100px 0;
    text-align: center;
    display: flex;
    justify-content: center;
}

header nav {
    position: fixed;
    top: 0;
    overflow: hidden;
    background-color: #333;
    width: 100%;
}

header nav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0;
}

header nav ul li {
    margin: 0 15px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}

.intro h1 {
    font-size: 3em;
    margin: 0;
}

.intro p {
    font-size: 1.2em;
}

.button {
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
    margin-top: 20px;
}

.button:hover {
    background-color: #0056b3;
}

/* Section Styles */
section {
    padding: 50px 20px;
    text-align: center;
}

#projects .projects-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.project {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    width: 300px;
}

.project h3 {
    color: #007BFF;
}

/* Footer Styles */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
}

footer .social-links {
    list-style-type: none;
    padding: 0;
}

footer .social-links li {
    display: inline-block;
    margin: 0 10px;
}

footer .social-links li a {
    color: white;
    text-decoration: none;
}
